{% extends 'base.html' %}

{% block content %}


<div class="card">
  <div class="card-header">
      <h5>Basic Table</h5>
      <span>Portfolio</span>

</div>
  <div class="card-block table-border-style">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>title</th>
                      <th>quantity</th>
                      <th>Total Price</th>
                      <th>Current Price</th>
                      <th>Gain %</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                 {% for stocks in qs %}
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{stocks.stock__stock_name}}</td>
                      <td>{{stocks.quantity__sum}}</td>
                      <td>{{stocks.tcp}}</td>
                      <td>{{stocks.stock_c_price}}</td>
                      <td>{{stocks.gain_percent}}</td>
                      <td><a class="btn btn-primary" href="#">Withdraw</a></td>
                  </tr>
                  {% endfor %}
           </tbody>
          </table>
        </div>
    </div>
</div>

{% endblock %}
